<h1>edit <%= @workers.first_name %> info</h1>
<% if flash[:errors] %>
<% flash[:errors].each do |e| %>
<p><%= e %></p>
<% end %>
<% end %>

<%=form_for(@workers) do |f| %>
	<p>
		<%=f.label :first_name%>
        <%=f.text_field :first_name%>

	</p>
    <p>
		<%=f.label :last_name%>
        <%=f.text_field :last_name%>

	</p>
    <p>
		<%=f.label :age%>
        <%=f.text_field :age%>

	</p>
	<p>
		<%=f.label :team%>
        <%=f.text_field :team%>

	</p>
	
	<%=f.submit%>
<%end%>
<a href="/workers">Go back</a>